/* @media  (max-width:900px){
 
.avatar img {width: 100px}

} */

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');

.fullName {
  font-size: 30px;
  font-weight: 300;
}

.avatar img{
  
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

  
  .item {
    /* grid-area: i; */
    font-family:'Kanit', sans-serif;
    font-size: 30px;
          
  }

.description {
  display: grid;
  grid-template-areas: 'a i i';
  grid-template-columns: minmax(1fr, 4fr);
  grid-template-rows: minmax(300px, 1fr);
  /*grid-template-columns: 1fr 3fr;
  /*grid-template-rows: 2fr 0.5fr;
  /* grid-template-areas: 'a i'; */
  
  }

   .information {
    font-family:'Kanit', sans-serif;
    grid-area: i;
    font-size: large;

  } 

  .link {
    
    font-family:'Kanit', sans-serif;
  }
  

  
.avatar {
    
  grid-area: a;
  

}

@media (max-width: 700px) {
  .description {
    display: flex;
    flex-direction: column;
  }
  .avatar img {
    width: 250px;
    height: 250px;
  }
}
  