  .Header {
    display: grid;
    grid-template-areas: 'I T L';
    grid-template-columns: 50px 1fr 4fr;
  }
  
  .headIcon {
    grid-area: I;
    
    height: 50px;
    width: 50px;
  }
  
.headTitle {
  grid-area: T;
  font-size: large;
   grid-column: 2/2;
   
}

.loginBlock {
  grid-area: L;
  text-align: end;
  color: white;
  text-decoration: none;
}

.login {
   color: rgb(15, 13, 13);
  text-decoration: none;
  font-size: large;
  padding-right: 30px;
  
  font-family: monospace;
  font-weight: 400;
  font-stretch: semi-expanded;
  background-color: rgba(45, 49, 61, 0.658);
  background-position: 20;
}
