@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap');


  .item {
    font-family:'Kanit', sans-serif;
    font-size: 20px;
    margin-top: auto;
    
}

.item a{
    color:rgb(27, 27, 24);
    text-decoration: none;
    
}

.item a.activeLink {
    font-family:'Kanit', sans-serif;
    font-style: bold;
    text-shadow: 0.5px 0.5px 0.5px black;
}

.item a:hover {
    background-color: rgb(189, 223, 255);
}

