@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Inconsolata:wght@200&family=Oswald:wght@300;400&display=swap");


.app_wrapper {
  display: grid;
  grid-template-rows: 70px minmax(40em, 20fr);
  grid-template-columns: 2fr 10fr;
  grid-template-areas:
    "h h"
    "n c";
  font-family: "Arvo", serif;

  font-family: "Inconsolata", monospace;

  font-family: "Oswald", sans-serif;
}

.app_wrapper_content {
  grid-area: c;
    background-color: rgb(231, 237, 253);
}

.Header {
  grid-area: h;
  background-color: rgb(231, 237, 253);
  opacity: 20;
  border-radius: 5px;
  margin-bottom: 2px;
  
}

.nav {
  grid-area: n;
  
  background-color: rgb(231, 237, 253);
  
  text-align:center;
  
}
