.app_wrapper {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  'h h'
  'n c';
  
}

.app_wrapper_content {
  grid-area: c;
  }

.Header {
    grid-area: h;
    background-color: black;
    }

.nav {
      grid-area: n;
      padding: 20px;
      line-height: 1,5;
      }